<!DOCTYPE html>
<html>
<head>
	<title>Simple Calculator</title>
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}
		#calculator {
			display: flex;
			flex-wrap: wrap;
			width: 240px;
			background-color: skyblue;
			padding: 20px;
			border-radius: 5px;
		}
		#calculator > button {
			width: 50px;
			height: 50px;
			margin: 5px;
			border-radius: 5px;
		}
		#result {
			width: 168px;
			height: 57px;
			margin: 1px 5px;
			padding: 0 1px;
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-radius: 2px;
		}
		#result > span {
			margin: auto 10px;
			width: 100%;
			overflow: auto;
			direction: rtl;
		}
		.operator, .clear, .equal {
			background-color: white;
		}
		p {
			padding: 0;
			margin: 5px auto 0 auto;
			color: white;
			font-style: italic;
		}
	</style>
</head>
<body>

	<div id="calculator">
		<div ref="result" id="result">
			<span v-html="arithString">{{ arithString }}</span>
		</div>
		<button class="operator" @click="onOperator('/')" :disabled="opState">/</button>
		<button class="value" @click="onNumber('7')" :disabled="numState">7</button>
		<button class="value" @click="onNumber('8')" :disabled="numState">8</button>
		<button class="value" @click="onNumber('9')" :disabled="numState">9</button>
		<button class="operator" @click="onOperator('*')" :disabled="opState">*</button>
		<button class="value" @click="onNumber('4')" :disabled="numState">4</button>
		<button class="value" @click="onNumber('5')" :disabled="numState">5</button>
		<button class="value" @click="onNumber('6')" :disabled="numState">6</button>
		<button class="operator" @click="onOperator('-')" :disabled="opState">-</button>
		<button class="value" @click="onNumber('1')" :disabled="numState">1</button>
		<button class="value" @click="onNumber('2')" :disabled="numState">2</button>
		<button class="value" @click="onNumber('3')" :disabled="numState">3</button>
		<button class="operator" @click="onOperator('+')" :disabled="opState">+</button>
		<button class="value" @click="onNumber('0')" :disabled="numState">0</button>
		<button class="clear" @click="onClear" :disabled="cState">c</button>
		<button class="equal" @click="onEqual" :disabled="eqState">=</button>
		</div>
	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script>
		new Vue({
			el: '#calculator',
			data: {
				arithString: '0',
				op: '',
				op1: 0,
				op2: 0,
				operands: [],
				opState: false,
				numState: false,
				cState: false,
				eqState: true
			},
			methods: {
				onNumber: function(number) {
					this.arithString = this.arithString + number
					if (this.opState == true && this.numState == false && this.eqState == true) {
						this.eqState = false
					}
				},
				onOperator: function(operator) {
					this.arithString = this.arithString + " " + operator + " "
					this.op = operator
					this.opState = this.eqState = true
					this.numState = false
				},
				onEqual: function() {
					this.arithString = this.arithString.split(' ').join('')
					this.operands = this.arithString.split(this.op)
					this.opState = false
					this.numState = this.eqState = true
					this.op1 = parseInt(this.operands[0], 10)
					this.op2 = parseInt(this.operands[1], 10)
					if (this.op == '+') {
						let sum = this.op1 + this.op2
						this.arithString = sum
					} else if (this.op == '-') {
						let diff = this.op1 - this.op2
						this.arithString = diff
					} else if (this.op == '*') {
						let prod = this.op1 * this.op2
						this.arithString = prod
					} else if (this.op == '/') {
						let qout = this.op1 / this.op2
						this.arithString = qout
					}
				},
				onClear: function() {
					this.arithString = this.op1 = this.op2 = 0
					this.operands = []
					this.numState = this.opState =  this.cState = false
					this.eqState = true
				}
			}
		})
	</script>

</body>
</html>