body {
	display: flex;
	background-color: skyblue;
	justify-content: center;
}
#todo-list {
	display: block;
	width: 25vh;
	height: 100vh;
	background-color: white;
	padding: 3vh;
	border-radius: 5px;
}

p {
	font-size: 12px;
	margin: 0px 20px;
}
#list-elem{
	padding: 0;
	list-style-type: none;
}
#todo-item {
	font-size: 12px;
	background-color: white;
	padding: 1%;
	margin: 1%;
	width: 90%;
	word-wrap: break-word;
	box-shadow: 0 1px 2px 0;
}
button {
	width: 30%;
}
input {
	width: 60%;
}

